---
interface Frontmatter {
    title: string;
    description?: string;
    author?: string;
    publishedAt?: string;
    createdAt?: string;
    updatedAt?: string;
}

import { DateTime } from "luxon";
import MainLayout from "../layouts/MainLayout.astro";
import { guessDateFormat } from "../utils/dates";

const posts = (await Astro.glob<Frontmatter>('./blog/*.md'))
    .filter((post) => post.frontmatter.publishedAt)
    .sort((a, b) => new Date(b.frontmatter.publishedAt!).getTime() - new Date(a.frontmatter.publishedAt!).getTime());

---

<MainLayout title="Clint Winter | Blog">
    <h1 class="text-lg mb-6 font-semibold">Latest Posts</h1>

    <ul class="space-y-2">
        {posts.map((post) => (
            <li>
                <a class="mb-1" href={post.url}>
                    {post.frontmatter.title}
                </a>

                <p class="text-sm text-slate-500">
                    {guessDateFormat(post.frontmatter.publishedAt!).toLocaleString(DateTime.DATE_MED)}
                </p>
            </li>
        ))}
    </ul>
</MainLayout>
