---
interface Frontmatter {
    title: string;
    description?: string;
    author?: string;
    publishedAt?: string;
    createdAt?: string;
    updatedAt?: string;
}

import type { MarkdownInstance } from "astro";

import MainLayout from "../layouts/MainLayout.astro";
const posts = await Astro.glob<Frontmatter>('./blog/*.md');
import * as post from "./blog/use-php-attributes-conservatively.md";
---

<MainLayout title="Clint Winter | Blog">
    <main class="container mx-auto px-2">
        <h1 class="text-3xl font-bold mb-6">Posts</h1>

        <ul>
            {posts.map((post) => (
                <li>
                    <a class="mb-2 font-semibold underline text-nord-n-600 hover:text-nord-a-orange" href={post.url}>{post.frontmatter.title}</a>
                    <p class="text-nord-f-slate">{post.frontmatter.description}</p>
                </li>
            ))}
        </ul>
    </main>
</MainLayout>
