---
interface Frontmatter {
    title: string;
    description?: string;
    author?: string;
    publishedAt?: string;
    createdAt?: string;
    updatedAt?: string;
}

import type { MarkdownInstance } from "astro";
import MainLayout from "../layouts/MainLayout.astro";


const posts = (await Astro.glob<Frontmatter>('./blog/*.md'))
    .filter((post) => post.frontmatter.publishedAt)
    .sort((a, b) => new Date(b.frontmatter.publishedAt!).getTime() - new Date(a.frontmatter.publishedAt!).getTime());

---

<MainLayout title="Clint Winter | Blog">
    <main class="max-w-5xl mx-auto md:px-4">
        <h1 class="text-2xl md:text-4xl mb-6 md:mb-12 font-semibold text-slate-700 dark:text-slate-200">Latest Posts</h1>

        <ul class="max-w-prose space-y-4 md:space-y-8">
            {posts.map((post) => (
                <li>
                    <a class="mb-2 font-semibold text-lg md:text-xl text-sky-600 dark:text-sky-400 leading-tight hover:underline" href={post.url}>
                        {post.frontmatter.title}
                    </a>

                    <p class="text-sm text-slate-500">
                        {new Date(post.frontmatter?.publishedAt).toLocaleDateString()}
                    </p>
                </li>
            ))}
        </ul>
    </main>
</MainLayout>
