---
interface Frontmatter {
    title: string;
    description?: string;
    author?: string;
    publishedAt?: string;
    createdAt?: string;
    updatedAt?: string;
}

import { DateTime } from "luxon";
import MainLayout from "../layouts/MainLayout.astro";
import { guessDateFormat } from "../utils/dates";
import { links } from "../utils/data";

const latestPosts = (await Astro.glob<Frontmatter>('./blog/*.md'))
    .filter((post) => post.frontmatter.publishedAt)
    .sort((a, b) => new Date(b.frontmatter.publishedAt!).getTime() - new Date(a.frontmatter.publishedAt!).getTime())
    .slice(0, 5);
---

<MainLayout title="Clint Winter">
    <div class="space-y-8 mb-4">
        <header class="flex justify-between items-start gap-x-4">
            <img class="aspect-auto w-20 sm:w-32 shadow-[2px_2px_0_#9ca3af] dark:shadow-[2px_2px_0_#4b5563]" src="/assets/avatar.jpg" alt="Profile avatar" />

            <div>
                <h1 class="mb-2 font-bold text-lg sm:text-2xl">Welcome, I'm Clint Winter</h1>
                <p>I'm a senior full-stack developer at <a href="https://givebutter.com" rel="noopener noreferer">Givebutter</a>. I've been in the Laravel/PHP ecosystem for 8 years, and I'm loving every minute of it.</p>
            </div>
        </header>

        <section>
            <h2 class="mb-2 font-medium sm:text-lg">Links you may be interested in</h2>
            <ul class="w-full flex-grow grid grid-cols-2 gap-2">
                {links.map(link => (
                <li class="col-span-1 h-10">
                    <a class="nav-item flex items-center justify-center w-full h-full bg-gray-100 border border-gray-200 dark:border-0 dark:bg-gray-800 hover:bg-cyan-400 dark:hover:bg-cyan-500" rel="noopener noreferer" href={link.url}>
                        {link.text}
                    </a>
                </li>
                ))}
            </ul>
        </section>

        <section>
            <h2 class="mb-2 font-medium sm:text-lg">My most recent articles</h2>
            <ul class="space-y-2">
            {latestPosts.map((post) => (
                <li>
                    <a href={post.url}>
                        {post.frontmatter.title}
                    </a>
                    <p class="text-sm text-gray-500">
                        {guessDateFormat(post.frontmatter.publishedAt!).toLocaleString(DateTime.DATE_MED)}
                    </p>
                </li>
            ))}
            </ul>
        </section>
    </div>
</MainLayout>
