---
interface Frontmatter {
    title: string;
    description?: string;
    author?: string;
    publishedAt?: string;
    createdAt?: string;
    updatedAt?: string;
}

import MainLayout from "../layouts/MainLayout.astro";
import { Content as HeroCode } from '../components/HeroCode.md';

const latestPosts = (await Astro.glob<Frontmatter>('./blog/*.md'))
    .filter((post) => post.frontmatter.publishedAt)
    .sort((a, b) => new Date(b.frontmatter.publishedAt!).getTime() - new Date(a.frontmatter.publishedAt!).getTime())
    .slice(0, 5);
---

<MainLayout title="Clint Winter">
    <main class="max-w-5xl mx-auto md:p-4 space-y-16 rounded-sm">
        <section aria-label="About Me">
            <img
                class="w-1/2 mb-4 rounded-full sm:w-1/4 md:mb-8 md:hidden dark:shadow-inner"
                src="/assets/avatar.jpeg"
                alt="Profile avatar"
            />
            <h1 class="text-3xl md:text-5xl font-bold mb-4 md:mb-8">Hi, I'm Clint Winter</h1>
            <p class="text-lg md:text-2xl text-slate-600 dark:text-slate-300">I'm a software developer at <a class="font-semibold text-sky-600 dark:text-sky-400 hover:underline" href="https://givebutter.com/" rel="noreferer noopener">Givebutter</a>. I work with Laravel and React in my daily work. I love learning new programming paradigms and finding ways to incorporate them into my problem-solving toolset.</p>
        </section>

        <section >
            <h2 class="mb-6 font-bold text-3xl text-slate-600 dark:text-slate-300">Latest Posts</h2>
            <ul class="space-y-10">
            {latestPosts.map((post) => (
                <li class="text-lg md:text-xl">
                    <a class="font-semibold text-sky-600 dark:text-sky-400 hover:underline" href={post.url}>
                        {post.frontmatter.title}
                    </a>
                    <p class="text-nord-a-300 opacity-70 text-sm">
                        {new Date(post.frontmatter?.publishedAt).toLocaleDateString()}
                    </p>
                </li>
            ))}
            </ul>
        </section>
    </main>
</MainLayout>
