---
interface Frontmatter {
    title: string;
    description?: string;
    author?: string;
    publishedAt?: string;
    createdAt?: string;
    updatedAt?: string;
}

import MainLayout from "../layouts/MainLayout.astro";
import { Content as HeroCode } from '../components/HeroCode.md';

const latestPosts = (await Astro.glob<Frontmatter>('./blog/*.md'))
    .filter((post) => post.frontmatter.publishedAt)
    .sort((a, b) => new Date(b.frontmatter.publishedAt!).getTime() - new Date(a.frontmatter.publishedAt!).getTime())
    .slice(0, 5);
---

<MainLayout title="Clint Winter">
    <main class="w-full max-w-prose mx-auto md:p-4 space-y-16 rounded-sm">
        <section>
            <h2 class="mb-6 font-semibold text-xl text-stone-600 dark:text-stone-300">Latest Posts</h2>
            <ul class="space-y-10">
            {latestPosts.map((post) => (
                <li class="text-lg">
                    <a class="font-semibold text-blue-600 visited:text-purple-700 dark:text-blue-500 dark:visited:text-purple-500 underline" href={post.url}>
                        {post.frontmatter.title}
                    </a>
                    <p class="text-nord-a-300 opacity-70 text-base">
                        {new Date(post.frontmatter?.publishedAt).toLocaleDateString()}
                    </p>
                </li>
            ))}
            </ul>
        </section>
    </main>
</MainLayout>
