<footer class="p-4 text-sm border-t border-slate-200 dark:border-slate-800">
    <ul class="grid grid-cols-3 md:flex flex-wrap items-center justify-end gap-4">
        <li class="col-span-1">
            <a class="hover:text-violet-500" rel="noopener noreferer" href="https://github.com/ClintWinter">
                Github
            </a>
        </li>
        <li class="col-span-1">
            <a class="hover:text-violet-500" rel="noopener noreferer" href="https://linkedin.com/in/clint-winter">
                LinkedIn
            </a>
        </li>
        <li class="col-span-1">
            <a class="hover:text-violet-500" rel="noopener noreferer" href="https://twitter.com/clintwinter13">
                Twitter
            </a>
        </li>
        <li class="col-span-1">
            <a class="hover:text-violet-500" rel="noopener noreferer" href="/assets/ClintWinterResume.pdf">
                Resume
            </a>
        </li>
        <li class="col-span-1">
            <a class="hover:text-violet-500" rel="noopener noreferer" href="https://dev.to/clintwinter">
                dev.to
            </a>
        </li>
        <li class="col-span-1">
            <a class="hover:text-violet-500" rel="noopener noreferer" href="https://www.codementor.io/@clintwinter?refer=badge">
                codementor.io
            </a>
        </li>
    </ul>
</footer>
