<footer class="w-full mx-auto p-4">
    <ul class="grid grid-cols-3 md:flex flex-wrap items-center justify-center gap-4 text-sm">
        <li class="col-span-1 border border-gray-500 px-2">
            <a class="nav-item no-underline" rel="noopener noreferer" href="https://github.com/ClintWinter">
                Github
            </a>
        </li>
        <li class="col-span-1 border border-gray-500 px-2">
            <a class="nav-item no-underline" rel="noopener noreferer" href="https://linkedin.com/in/clint-winter">
                LinkedIn
            </a>
        </li>
        <li class="col-span-1 border border-gray-500 px-2">
            <a class="nav-item no-underline" rel="noopener noreferer" href="https://twitter.com/clintwinter13">
                Twitter
            </a>
        </li>
        <li class="col-span-1 border border-gray-500 px-2">
            <a class="nav-item no-underline" rel="noopener noreferer" href="/assets/ClintWinterResume.pdf">
                Resume
            </a>
        </li>
        <li class="col-span-1 border border-gray-500 px-2">
            <a class="nav-item no-underline" rel="noopener noreferer" href="https://dev.to/clintwinter">
                dev.to
            </a>
        </li>
        <li class="col-span-1 border border-gray-500 px-2">
            <a class="nav-item no-underline" rel="noopener noreferer" href="https://www.codementor.io/@clintwinter?refer=badge">
                codementor.io
            </a>
        </li>
    </ul>
</footer>
