---
---

<footer class="mt-12 p-6 pt-12 bg-emerald-600 text-emerald-100">
    <p class="mb-12 text-center font-semibold">Contact me at cwinter.web@gmail.com</p>

    <div class="flex justify-center gap-x-20 mb-12">
        <div>
            <p class="mb-2 font-semibold">Resources</p>
            <ul class="space-y-2 mb-6 text-emerald-200">
                <li><a class="hover:underline" href="/blog">Blog</a></li>
                <li><a class="hover:underline" href="/reading-list">Reading list</a></li>
            </ul>
        </div>

        <div>
            <p class="mb-2 font-semibold">Links</p>
            <ul class="space-y-2 mb-6 text-emerald-200">
                <li><a class="hover:underline" rel="noopener noreferer" href="https://github.com/ClintWinter">
                    Github
                </a></li>
                <li><a class="hover:underline" rel="noopener noreferer" href="https://linkedin.com/clint-winter">
                    LinkedIn
                </a></li>
                <li><a class="hover:underline" rel="noopener noreferer" href="https://twitter.com/clintwinter13">
                    Twitter
                </a></li>
                <li><a class="hover:underline" rel="noopener noreferer" href="/assets/ClintWinterResume.pdf">
                    Resume
                </a></li>
                <li><a class="hover:underline" rel="noopener noreferer" href="https://dev.to/clintwinter">
                    dev.to
                </a></li>
                <li><a class="hover:underline" rel="noopener noreferer" href="https://www.codementor.io/@clintwinter?refer=badge">
                    <img src="https://www.codementor.io/m-badges/clintwinter/im-a-cm-b.svg" alt="I'm a codementor!" />
                </a></li>
            </ul>
        </div>
    </div>

    <ul class="text-xs text-center space-y-1">
        <li>Website stats that don't track your personal data by <a class="underline" rel="noopener noreferer" href="https://usefathom.com/ref/Y84A28">Fathom Analytics</a></li>
        <li>Hosted with <a class="underline" href="https://m.do.co/c/1bd7d55ee985">DigitalOcean</a></li>
    </ul>
</footer>

<style>
.sep {
    height: 2px;
}
</style>
