---
const path = new URL(Astro.url).pathname;

const pages = [{
    title: 'Blog',
    url: '/blog',
}, {
    title: 'Reading List',
    url: '/reading-list',
}, {
    title: 'About',
    url: '/about',
}];
---

<nav class="hidden sm:flex flex-col gap-y-8 w-full">
    <ul class="flex flex-col gap-y-4 items-start">
        <li>
            <a href="/" class="nav-item font-bold">
                Clint Winter
            </a>
        </li>
        {pages.map(page => (
            <li class="relative" class:list={[{active: page.url === path}]}>
                <a class="nav-item flex items-center gap-x-1 px-2 border border-gray-500 dark:border-gray-400 shadow-[2px_2px_0_#9ca3af]" href={page.url}>
                    {page.url === path && (
                        <span class="inline-block w-2 h-2 bg-cyan-500 rounded-full" />
                    )}
                    {page.title}
                </a>
            </li>
        ))}
    </ul>

    <div class="px-2">
        <p class="mb-2 text-sm font-semibold text-gray-400 dark:text-gray-500">Links</p>
        <ul class="text-sm">
            <li>
                <a class="nav-item hover:underline" rel="noopener noreferer" href="https://github.com/ClintWinter">
                    Github
                </a>
            </li>
            <li>
                <a class="nav-item hover:underline" rel="noopener noreferer" href="https://linkedin.com/in/clint-winter">
                    LinkedIn
                </a>
            </li>
            <li>
                <a class="nav-item hover:underline" rel="noopener noreferer" href="https://twitter.com/clintwinter13">
                    Twitter
                </a>
            </li>
            <li>
                <a class="nav-item hover:underline" rel="noopener noreferer" href="/assets/ClintWinterResume.pdf">
                    Resume
                </a>
            </li>
            <li>
                <a class="nav-item hover:underline" rel="noopener noreferer" href="https://dev.to/clintwinter">
                    dev.to
                </a>
            </li>
            <li>
                <a class="nav-item hover:underline" rel="noopener noreferer" href="https://www.codementor.io/@clintwinter?refer=badge">
                    codementor.io
                </a>
            </li>
        </ul>
    </div>
</nav>
