---
import { links } from "../utils/data";

const pages = [{
    title: 'Blog',
    url: '/blog',
}, {
    title: 'Reading List',
    url: '/reading-list',
}, {
    title: 'About',
    url: '/about',
}];
---

<nav class="hidden sm:flex flex-col gap-y-8 w-full">
    <ul class="flex flex-col gap-y-4 items-start">
        <li>
            <a href="/" class="nav-item font-bold">
                Clint Winter
            </a>
        </li>
        {pages.map(page => (
            <li>
                <a class="nav-item flex items-center gap-x-1 px-2 border border-gray-500 dark:border-gray-400 shadow-[2px_2px_0_#9ca3af]" href={page.url}>
                    {page.title}
                </a>
            </li>
        ))}
    </ul>

    <div class="px-2">
        <p class="mb-2 text-sm font-semibold text-gray-400 dark:text-gray-500">Links</p>
        <ul class="text-sm">
            {links.map(link => (
                <li><a class="nav-item hover:underline" rel="noopener noreferer" href={link.url}>{link.text}</a></li>
            ))}
        </ul>
    </div>
</nav>
