---
import Theme from "./Theme.astro";
---


<nav class="w-full py-6 mb-12">
    <div class="max-w-5xl px-4 mx-auto flex justify-between items-center">
        <ul>
            <li><a class="text-2xl font-bold" href="/">Clint Winter</a></li>
        </ul>

        <ul class="flex justify-between items-center space-x-4 uppercase">
            <li><a class="transition p-2 rounded" href="/blog">Blog</a></li>
            <li><a class="transition p-2 rounded" href="/reading-list">Reading List</a></li>
            <li><Theme /></li>
        </ul>
    </div>
</nav>
