---
import Theme from "./Theme.astro";
---

<nav class="fixed w-full p-4 flex justify-between items-center border-b border-stone-200 dark:border-stone-800 bg-stone-50/90 dark:bg-stone-950/60 backdrop-blur">
    <div>
        <a href="/" class="flex items-center gap-2 leading-0">
            <img class="hidden md:block rounded-full dark:shadow-inner h-12" src="/assets/avatar.jpeg" alt="Profile avatar" />
            <span class="text-lg md:text-2xl leading-none font-bold">Clint Winter</span>
        </a>
    </div>

    <ul class="hidden md:flex items-center gap-8 leading-none">
        <li><a class="hover:text-violet-500" href="/about">About</a></li>
        <li><a class="hover:text-violet-500" href="/blog">Blog</a></li>
        <li><a class="hover:text-violet-500" href="/reading-list">Reading List</a></li>
        <Theme />
    </ul>

    <button data-menu-button class="block md:hidden font-semibold cursor-pointer">Menu</button>
</nav>

<nav data-mobile-nav class="hidden fixed inset-0 bg-stone-900/75 flex flex-col p-4 z-10">

    <ul class="p-8 flex flex-col items-center gap-4 leading-none bg-stone-100 dark:bg-stone-800 border border-stone-200 shadow-lg dark:shadow-none dark:border-stone-700 z-20 rounded-lg">
        <li class="self-end mb-8"><button data-close-menu-button class="font-semibold cursor-pointer">Close</button></li>
        <li><a class="hover:text-violet-500" href="/about">About</a></li>
        <li><a class="hover:text-violet-500" href="/blog">Blog</a></li>
        <li><a class="hover:text-violet-500" href="/reading-list">Reading List</a></li>
        <Theme />
    </ul>
</nav>

<script>
    const elMenuBtn = document.querySelector('[data-menu-button]');
    const elCloseMenuBtn = document.querySelector('[data-close-menu-button]');
    const elNav = document.querySelector('[data-mobile-nav]');

    elMenuBtn?.addEventListener('click', () => elNav?.classList.toggle('hidden'));
    elCloseMenuBtn?.addEventListener('click', () => elNav?.classList.toggle('hidden'));
</script>
