---
const props = Astro.props;
---

<a {...props} class="rounded inline-block w-full text-slate-700 dark:text-slate-200 hover:bg-slate-200 dark:hover:bg-slate-800 transition-colors duration-150 -ml-2 px-2 py-1">
    <slot />
</a>
