---
const { href, tags = [] } = Astro.props;

const baseURI = new URL(href).hostname;
---

<li class="gap-y-1">
    <div class="flex flex-col md:flex-row items-baseline">
        <a href={href} rel="noopener noreferer">
            <slot />
        </a>

        <span class="md:ml-2 text-gray-500 text-xs md:p-1 rounded hover:no-underline">{baseURI}</span>
    </div>

    {Boolean(tags.length) && (
        <div class="flex gap-x-2">
            {tags.map(tag => (
                <div class="px-1 text-xs border border-gray-500 dark:border-gray-400">{tag}</div>
            ))}
        </div>
    )}
</li>
