---
import { DateTime } from 'luxon';
import MainLayout from "./MainLayout.astro";
import { guessDateFormat } from '../utils/dates';

const { frontmatter } = Astro.props;
---

<MainLayout title={`Clint Winter | ${frontmatter.title}`}>
    <main class="-mx-4 md:mx-auto md:px-2 text-nord-n-600 dark:text-nord-s-300">
        <article class="post-container text-lg leading-relaxed grid grid-cols-[1fr_min(75ch,_100%)_1fr] p-4">
            <h1 class="title">{frontmatter.title}</h1>
            <p class="date">{guessDateFormat(frontmatter.publishedAt).toLocaleString(DateTime.DATE_FULL)}</p>

            <slot />
        </article>
    </main>
</MainLayout>

<style>
.post-container .date {
    @apply text-stone-500 dark:text-stone-300;
}

.post-container > :global(*) {
    @apply mb-6 col-start-2 col-span-1;
}

.post-container :global(img) {
    @apply mx-auto;
}

/* LISTS */
.post-container :global(ol),
.post-container :global(* ol) {
    @apply list-decimal ml-8 list-outside;
}

.post-container :global(* ol) {
    @apply mt-6;
}

.post-container :global(ol li) {
    @apply pl-2;
}

.post-container :global(li:not(:last-child)) {
    @apply mb-2;
}

.post-container :global(li *:not(:last-child)) {
    @apply mb-2;
}

.post-container :global(* ul) {
    @apply mt-6;
}

.post-container :global(ul li) {
    @apply relative ml-10 -z-10;
}

.post-container :global(ul li:before) {
    content: '';
    display: block;
    background-image: url(/assets/arrow-right.svg);
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    position: absolute;
    top: 0.2rem;
    left: -2rem;
    flex-shrink: 0;
}

/* LINKS */
.post-container :global(a) {
    @apply break-words text-violet-600 font-semibold hover:underline;
}

:global(.dark) .post-container :global(a) {
    @apply text-violet-400 font-semibold hover:underline;
}

/* QUOTES */
.post-container :global(blockquote) {
    @apply p-4 border-l-8 border-violet-500 bg-stone-200 rounded;
}

:global(.dark) .post-container :global(blockquote) {
    @apply p-4 border-l-8 border-violet-500 bg-stone-800 rounded shadow text-stone-200;
}

/* HEADINGS */
.post-container :global(h1:first-of-type) {
    @apply text-3xl md:text-7xl leading-none font-semibold mb-4;
}

.post-container :global(h1) {
    @apply text-3xl leading-none font-bold mb-4;
}

.post-container :global(h2) {
    @apply text-2xl font-bold leading-none pt-6;
}

.post-container :global(h3) {
    @apply text-lg font-bold leading-none pt-6;
}

:global(.dark) .post-container :global(h1) {
    @apply text-stone-100;
}

:global(.dark) .post-container :global(h2),
:global(.dark) .post-container :global(h3) {
    @apply text-stone-200;
}

.post-container :global(h4) {
    @apply text-base font-bold leading-none pt-6;
}

/* CODE */
.post-container :global(pre) {
    @apply p-4 md:rounded overflow-x-auto text-xs sm:text-sm md:text-base -mx-4 md:mx-0;
}

.post-container :global(pre .line-number) {
    @apply mr-2;
}

.post-container :global(:not(pre) code) {
    @apply text-purple-700 px-1 rounded;
}

:global(.dark) .post-container :global(:not(pre) code) {
    @apply bg-transparent text-purple-300 px-1 rounded;
}

/* TABLES */
.post-container :global(table th) {
    @apply px-4 py-2 text-stone-600 text-base tracking-tighter leading-none border border-stone-200;
}

.post-container :global(table td) {
    @apply px-4 py-2 leading-none border border-stone-200;
}

.post-container :global(table tbody tr) {
    @apply even:bg-stone-200;
}

:global(.dark) .post-container :global(table th) {
    @apply px-4 py-2 text-stone-300 leading-none border border-stone-700;
}

:global(.dark) .post-container :global(table td) {
    @apply px-4 py-2 leading-none border border-stone-700;
}

:global(.dark) .post-container :global(table tbody tr) {
    @apply even:bg-stone-900;
}
</style>
