---
import '@fontsource/ibm-plex-sans-condensed/400.css';
import '@fontsource/ibm-plex-sans-condensed/500.css';
import '@fontsource/ibm-plex-sans-condensed/700.css';
import '@fontsource/ibm-plex-sans-condensed/400-italic.css';
import '@fontsource/ibm-plex-sans-condensed/500-italic.css';
import '@fontsource/iosevka';
import '@fontsource/iosevka/400-italic.css';
import '@styles/style.css';
import '@styles/global.css';

import Nav from "@components/Nav.astro";
import MobileNav from "@components/MobileNav.astro";

const { title } = Astro.props;
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
	<title>{title}</title>
</head>
<body class="font-sans text-gray-950 bg-gray-50 dark:text-gray-50 dark:bg-gray-950">
	<aside class="fixed hidden md:block left-0 top-0 bottom-0 overflow-y-scroll p-4 w-48">
		<Nav />
	</aside>

	<MobileNav />

	<main class="w-full max-w-xl mx-auto p-4">
		<slot />
	</main>

	<aside class="fixed right-0 top-0 bottom-0 overflow-y-scroll w-48 p-4 hidden lg:block">
		<slot name="right-aside" />
	</aside>
</body>
</html>

<style is:global>
@font-face {
  font-family: 'Berkeley Mono Condensed';
  src: url('https://clintwinter-fonts.nyc3.cdn.digitaloceanspaces.com/BerkeleyMono/BerkeleyMono-Condensed.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono Condensed';
  src: url('https://clintwinter-fonts.nyc3.cdn.digitaloceanspaces.com/BerkeleyMono/BerkeleyMono-Bold-Condensed.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono Condensed';
  src: url('https://clintwinter-fonts.nyc3.cdn.digitaloceanspaces.com/BerkeleyMono/BerkeleyMono-Condensed-Oblique.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono Condensed';
  src: url('https://clintwinter-fonts.nyc3.cdn.digitaloceanspaces.com/BerkeleyMono/BerkeleyMono-Bold-Condensed-Oblique.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
</style>
