---
import Nav from "../components/Nav.astro";
import '@fontsource/spectral/400.css';
import '@fontsource/spectral/600.css';
import '@fontsource/spectral/800.css';
import '@fontsource/spectral/400-italic.css';
import '@fontsource/iosevka';
import '@fontsource/iosevka/400-italic.css';
import Footer2 from "../components/Footer2.astro";
import '../styles/style.css';

const { title, showFooter = true } = Astro.props;
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>
</head>
<body class={`font-serif text-base md:text-lg bg-stone-50 text-stone-800 dark:bg-stone-950 dark:text-stone-300 min-h-screen flex flex-col`}>
	<Nav />

	<main class="p-4 md:px-8 md:pb-12 flex-grow">
		<slot />
	</main>

	{showFooter && <Footer2 />}

	<script src="https://cdn.usefathom.com/script.js" data-site="POEWOFVX" defer></script>
</body>
</html>
