---
import Nav from "../components/Nav.astro";
import '@fontsource/ibm-plex-sans/400.css';
import '@fontsource/ibm-plex-sans/500.css';
import '@fontsource/ibm-plex-sans/700.css';
import '@fontsource/ibm-plex-sans/400-italic.css';
import '@fontsource/ibm-plex-sans/500-italic.css';
import '@fontsource/ibm-plex-sans/700-italic.css';
import '@fontsource/iosevka';
import '@fontsource/iosevka/400-italic.css';
import Footer from "../components/Footer.astro";
import '../styles/style.css';
const { title } = Astro.props;
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>
</head>
<body class="max-h-screen font-sans text-base md:text-lg bg-slate-100 text-slate-800 dark:bg-slate-800 dark:text-slate-100 grid grid-cols-12">
	<Nav />

	<main class="p-4 md:p-8 md:py-12 col-span-12 md:col-span-9 xl:col-span-10 2xl:col-span-11 md:max-h-screen md:overflow-y-auto">
		<slot />
	</main>
</body>
</html>
