---
import '@fontsource/ibm-plex-sans-condensed/400.css';
import '@fontsource/ibm-plex-sans-condensed/500.css';
import '@fontsource/ibm-plex-sans-condensed/700.css';
import '@fontsource/ibm-plex-sans-condensed/400-italic.css';
import '@fontsource/ibm-plex-sans-condensed/500-italic.css';
import '@fontsource/iosevka';
import '@fontsource/iosevka/400-italic.css';
import '@styles/style.css';
import '@styles/global.css';

const { title } = Astro.props;
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
	<title>{title}</title>
</head>
<body class="font-sans text-gray-950 dark:bg-gray-950 dark:text-white">
    <slot />
</body>
</html>
